<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tpvinh.mybatis.mapper.AuthMapper">

    <select id="selectAccount" resultType="AccountVO">
        SELECT
            a.id,
            a.role_name,
            a.login_id,
            a.password,
            a.phone,
            a.enabled,
            a.deleted,
            a.created_dt,
            a.created_id,
            a.updated_dt,
            a.updated_id,
            a.deleted_dt,
            a.deleted_id
        FROM
            tb_account a
        <where>
            <choose>
                <when test="id != null and id != ''">
                    a.id = #{id}
                </when>
                <when test="loginId != null and loginId != ''">
                    a.login_id = #{loginId}
                </when>
            </choose>
        </where>

    </select>
</mapper>
